[build]
  command = "npm install"
  functions = "netlify/functions"
  publish = "."

[[redirects]]
  from = "/api/license/register"
  to = "/.netlify/functions/license/register"
  status = 200
  force = true

[[redirects]]
  from = "/api/license/verify"
  to = "/.netlify/functions/license/verify"
  status = 200
  force = true

[[redirects]]
  from = "/api/license/approve"
  to = "/.netlify/functions/license/approve"
  status = 200
  force = true

[[redirects]]
  from = "/api/invoices/*"
  to = "/.netlify/functions/invoices/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/api/invoices"
  to = "/.netlify/functions/invoices"
  status = 200
  force = true

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/api/verify"
  to = "/.netlify/functions/verify"
  status = 200
  force = true